<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Medical Center Logo" src="assets/icon_medical_center.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2>
            <a alt="list of nurses"
                href="/#/nurses">
                List of nurses
            </a>
        </h2>
    </li>
    <li>
        <h2>
            <a alt="list of patients"
                href="/#/patients">
                List of patients
            </a>
        </h2>
    </li>
</ul>
