<p> {{entityNameVarChild | titlecase }} works!  </p>

<div>
    <table>
        <thead>
            <tr>
                <th>_id</th>
                <ng-container *ngTemplateOutlet="appAbstractThead">
                </ng-container>
                <th>Details</th>
                <th>Deletion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entity of entities ;trackBy: trackId">
                <td>{{entity._id}}</td>
                <ng-container *ngTemplateOutlet="appAbstractTbody,
                       context: { $implicit: entity }" >
                </ng-container>
                <td><button type="submit"
                        [routerLink]="['/' + entityNameVarChild, entity._id ]" >
                    view
                </button></td>
                <td><button type="submit"
                            [routerLink]="['/' + entityNameVarChild + '-delete/'
                            +  entity._id, {confirmation: false}]" >
                    delete
                </button></td>
            </tr>
        </tbody>
    </table>
    <button type="submit"
            [routerLink]="['/' + entityNameVarChild + '-form']" >
            Create a {{entityNameVarChild}}
    </button>
</div>
