<p> Detail of the {{entityNameVarChild | titlecase }} </p>

<div>
    <table>
        <thead>
            <tr>
                <th>_id</th>
                <ng-container *ngTemplateOutlet="appAbstractThead">
                </ng-container>
                <th>Created at</th>
                <th>Updated at</th>
                <div *ngIf='!isDeleteView' >
                    <th>Deletion</th>
                    <th>Edition</th>
                </div>
            </tr>
        </thead>
        <tbody *ngIf='rowTable'>
            <tr>
                <td>{{rowTable._id}}</td>
                <ng-container *ngTemplateOutlet="appAbstractTbody,
                       context: { $implicit: rowTable }" >
                </ng-container>
                <td>{{displayMomentDate(rowTable.createdAt)}}</td>
                <td>{{displayMomentDate(rowTable.updatedAt)}}</td>
                <div *ngIf='!isDeleteView' >
                    <td><button type="submit"
                                [routerLink]="['/' + entityNameVarChild +
                                    '-delete/' +  rowTable._id, {confirmation:
                                    false}]" >
                        delete
                    </button></td>
                    <td><button type="submit"
                                [routerLink]="['/' + entityNameVarChild + '-form/'
                                +  rowTable._id]" >
                        edit
                    </button></td>
                </div>
            </tr>
        </tbody>
    </table>
</div>

<br />

<div *ngIf='!rowTable'>
    <strong>No data found</strong>
</div>

<br />

<button type="submit" [routerLink]="['/' + entityNameVarChild  + 's']" >
    Comme back {{entityNameVarChild}}s list
</button>

<ng-container *ngTemplateOutlet="appAfterTable">
</ng-container>
