<h4> Map </h4>

<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link -->
<!--  the stylesheet link type is body-ok, and therefore <link rel="stylesheet"> is permitted in the body -->
<!--  Don't use `@import` in css file (it prevents parallel download)  -->
<!--  TODO never minified -->
<link rel="stylesheet" type="text/css" href="/assets/node_modules/leaflet/leaflet.css">
<link rel="stylesheet" type="text/css" href="/assets/node_modules/leaflet-fullscreen/leaflet.fullscreen.css">
<link rel="stylesheet" type="text/css" href="/assets/node_modules/leaflet-routing-machine/leaflet-routing-machine.css">

<div id="mapOSRM"></div>
