<!-- See documentation at https://stackoverflow.com/questions/46976570/how-to-render-multiple-ng-content-inside-an-ngfor-loop-using-angular-4?rq=1 -->
<app-entity-detail [entityNameVarChild]='entityNameVarChild' [entity]='person' >
    <ng-template #appAbstractTheadAttr>
        <th>_firstname</th>
        <th>_lastname</th>
        <th>_address</th>
        <!-- Could not use ng-content because it adds tag div who
                    breaks the tag thead -->
        <ng-container *ngTemplateOutlet="appPersonThead">
        </ng-container>
    </ng-template>
    <ng-template #appAbstractTbodyAttr let-entity>
        <td>{{entity._firstname}}</td>
        <td>{{entity._lastname}}</td>
        <td>{{entity._address}}</td>
        <ng-container *ngTemplateOutlet="appPersonTbody,
                context: {$implicit: entity}"> </ng-container>
    </ng-template>
</app-entity-detail>
