<!-- See documentation at https://stackoverflow.com/questions/46976570/how-to-render-multiple-ng-content-inside-an-ngfor-loop-using-angular-4?rq=1 -->
<app-abstract-detail [entityNameVarChild]='entityNameVarChild' >
    <div app-abstract-table>
        <table>
            <thead>
                <tr>
                    <th>_id</th>
                    <th>_firstname</th>
                    <th>_lastname</th>
                    <th>_address</th>
                    <!-- Could not use ng-content because it adds tag div who
                    breaks the tag thead -->
                    <ng-container *ngTemplateOutlet="appPersonThead">
                    </ng-container>
                </tr>
            </thead>
            <tbody *ngIf="person">
                <tr>
                    <td>{{person._id}}</td>
                    <td>{{person._firstname}}</td>
                    <td>{{person._lastname}}</td>
                    <td>{{person._address}}</td>
                    <ng-container *ngTemplateOutlet="appPersonTbody,
                            context: { $implicit: person }"></ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</app-abstract-detail>
