/* Don't use `@import` in css file (it prevents parallel download) */
/* @import url('/assets/node_modules/openlayers/ol.css'); */

#mapOSRM {
    display: block;
    width: 50%;
    min-width: 500px;
    height: 400px;
}

