<app-abstract [entityNameAttr]='entityNameVar' >
    <div app-abstract-tbody>
        <table>
            <thead>
                <tr>
                    <th>_id</th>
                    <th>_firstname</th>
                    <th>_lastname</th>
                    <th>_address</th>
                    <th>_idSSN</th>
                    <th>_isMale</th>
                    <th>_birthday</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of entityArray ;trackBy: trackId">
                    <td>{{entity._id}}</td>
                    <td>{{entity._firstname}}</td>
                    <td>{{entity._lastname}}</td>
                    <td>{{entity._address}}</td>
                    <td>{{entity._idSSN}}</td>
                    <td>{{entity._isMale}}</td>
                    <td>{{entity._birthday}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</app-abstract>
