<app-person-detail [entityNameVarChild]='entityNameVar'
        [person]='rowTable'
        [isDeleteView]='isDeleteView' >
    <ng-template #appPersonTheadAttr>
        <th>_idSSN</th>
        <th>_gender</th>
        <th>_birthday</th>
        <th>_latitude</th>
        <th>_longitude</th>
    </ng-template>
    <ng-template #appPersonTbodyAttr let-entity>
        <td>{{rowTable._idSSN}}</td>
        <td>{{rowTable._gender}}</td>
        <td>{{rowTable._birthday}}</td>
        <td>{{rowTable._latitude}}</td>
        <td>{{rowTable._longitude}}</td>
    </ng-template>
    <ng-template #appAfterTableAttr>
        <div *ngIf="rowTable">

            <form [formGroup]="formOpenLayerOrLeaflet">
                <div>
                    <input
                        id="openlayers"
                        type="radio"
                        formControlName="leafletOrOpenLayers"
                        value="openlayers"
                        (change)="leafletOrOpenLayers($event)"
                        />
                    <label for="openlayers">OpenLayers</label>
                </div>
                <div>
                    <input
                        id="leaflet"
                        type="radio"
                        formControlName="leafletOrOpenLayers"
                        value="leaflet"
                        (change)="leafletOrOpenLayers($event)"
                        />
                    <label for="leaflet">Leaflet</label>
                </div>
            </form>

            <div *ngIf="displayOpenlayersInsteadOfLeaflet ; else leaflet">
                <app-map-openlayers [latitudeArrival]='rowTable._latitude'
                        [longitudeArrival]='rowTable._longitude' >
                </app-map-openlayers>
            </div>
            <ng-template #leaflet>
                <app-map-leaflet [latitudeArrival]='rowTable._latitude'
                        [longitudeArrival]='rowTable._longitude' >
                </app-map-leaflet>
            </ng-template>
        </div>
    </ng-template>
</app-person-detail>

