<!-- https://developer.mozilla.org/en&#45;US/docs/Web/HTML/Element/nav -->
<nav>
    <ul>
    <li>
        <a alt="home"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }" >
            Home
        </a>
    </li>
    <li>
        <a alt="list of nurses"
            routerLink="/nurses"
            routerLinkActive="active" >
            List of nurses
        </a>
    </li>
    <li>
        <a alt="list of patients"
           routerLink="/patients"
           routerLinkActive="active" >
            List of patients
        </a>
    </li>
    <li>
        <a alt="form prototype"
           routerLink="/patient-form-proto"
           routerLinkActive="active" >
            Form prototype
        </a>
    </li>
    </ul>
</nav>
