/* You can add global styles to this file, and also import other style files */

/* From :
  * https://github.com/angular/angular/blob/f48e21530559e9eac1345887dc27a44df0e4c628/aio/tools/examples/shared/boilerplate/common/src/styles.css
  */

/* everywhere else */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Master Styles */

body {
    margin: 0em;
    color: #888;
}

h1 {
    color: #369;
    font-size: 250%;
}

h2,
h3 {
    color: #444;
    font-weight: lighter;
}

/* inputs */
/* ******* */

input, select, textarea {
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: white;
}


input[readonly] {
    background-color: grey;
}

/* link */
/* **** */

a {
    cursor: pointer;
    cursor: hand;
}

/* buttons */
/* ******* */

button {
    font-family: Arial;
    color: #888;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Inspired from https://www.w3schools.com/css/css3_buttons.asp */
form button, button.strong {
    border: none;
    color: white;
    margin: 1em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

form button[type='submit'], button[type='submit'].strong {
    background-color: #4CAF50;
}

form button:hover[type='submit'], button:hover[type='submit'].strong {
    background-color: #3e8e41
}

form button[type='reset'], button[type='reset'].strong {
    background-color: #f44336;
}

form button:hover[type='reset'], button:hover[type='reset'].strong {
    background-color: #c81c0f;
}
